.container {
  border: 1px solid #F3F3F3;
  border-radius: 8px;
  padding: 20px 6px 19px 12px;
}

.btnStyle {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  margin-right: -6px;
}