.container {
  display: flex;
  width: 665px;
  min-height: 100vh;
  margin: 0 auto;
  border-right: 1px solid #BDBDBD;
}

.content {
  flex-grow: 1;
}

.sorting {
  width: 150px;
  padding-top: 35px;
  padding-left: 20px;
  background-color: #BDBDBD;
}

.title {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}

.btn_container {
  margin-bottom: 10px;
}